* {

    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: white;
    margin: 0;

}

.container {
    width: 400px;
    text-align: center;
    position: relative;

}

.counter {
    font-size: 40px;
    margin-bottom: 10px;
}

.loadingBarFront {
    height: 10px;
    background-color: red;
    border: none;
    border-radius: 5px;
    width: 0%;
    position: absolute;

}

.loadingBarGround {
    height: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    width: 100%;
}